
:root{
  --primary:#bc4123;
  --secondary:#2b3452;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.root-layout{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Header */
nav{
  background-color: #35426e;
  height: 80px;
  width: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
nav h1{
  border: 3px solid var(--primary);
}
nav a{
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  justify-content: center !important;
  align-items: center;
  display: flex !important;
  padding: 6px;
  border-radius: 4px;
  color: white;
}
.nav-item.active{
  background-color: var(--primary);
}

/* Main */
main{
  padding:45px 40px 40px 40px;
}

/* Footer */
.site-footer
{
  background-color:#26272b;
  padding:45px 50px 50px 50px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin-top: auto;
}
/* .row{
  width: 100%;
} */
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
  text-decoration: none;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none;
  gap: 20px;
  display: flex;
}
.footer-links a
{
  color:#737373;
  gap:20px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.site-footer .social-icons
{
  text-align:right
}

/* help Buttons */
.help-layout nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}
.help-layout nav a{
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 4px;
  text-decoration: none;
}
.help-layout nav a:hover{
  border-color: var(--primary);
}
.help-layout nav a.active {
  background: var(--primary);
}

/* faq */
.faq .question {
  background: rgba(0,0,0,0.2);
  padding: 5px 20px;
  border-radius: 4px;
  margin: 20px 0;
}

/* contact form */


/* Careers */
.careers > a {
  display: block;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  text-decoration: none;
}
.careers > a:hover p {
  color: var(--primary);
}
.careers p {
  margin: 0;
}
.careers > a p:last-child {
 font-size: 0.8em;
 color: #bbb;
}

/* Career Details */
.career-details {
  background: rgba(0,0,0,0.2);
  padding: 20px;
  border-radius: 4px;
  margin: 20px 0;
  padding: 10px;
}

/* Bread Crumbs */
.breadcrumbs{
  width: 100%;
  margin: 20px 20px;
}
.breadcrumbs a{
  text-decoration: none;
  color:grey;
  margin-right: 10px ;
}
.breadcrumbs > *{
  display: inline-block;
}

.breadcrumbs .crumb::after{
  content: '>';
  margin-right: 10px;
}

.breadcrumbs .crumb:last-child::after{
  display: none;
}